#titleLabel {
	-fx-font-size: 50px;
}

.sourceButton {
	-fx-font-size: 30px;
	-fx-border-color: black;
	-fx-border-width: 1px;
}

#sourceActionsTitleBox {
	-fx-background-color: rgb(190, 190, 190);
	-fx-border-color: black;
	-fx-border-width: 2px;
}

#sourceAddButton {
	-fx-background-color: rgb(72, 118, 255);
}

#sourceRemoveButton {
	-fx-background-color: rgb(30, 144, 255);
}

#sourceEditButton {
	-fx-background-color: rgb(0, 191, 255);
}

#sourceActionsTitle {
	-fx-font-size: 33px;	
}